<html>
<head>
<style>
#recycleTypeButton{
	
}
#createEventButton{
	
}
</style>
</head>
<body>
<a id = "recycleTypeButton" href = "/recycleType"></a>
<a id = "createEventButton" href = "/createEventCharity"></a>
</body>
</html>