<!DOCTYPE html>
<html>

<head>


  <meta charset="utf-8" />

</head>

<body>

    <h1>Plastic Type is LDPE Low-density Polyethylene  </h1>
    <h2>
            Used for many different kinds of wrapping, grocery bags and sandwich bags and can be recycled into more of the same.

        </h2>

</body>

</html>