<!DOCTYPE html>
<html>

<head>


  <meta charset="utf-8" />

</head>

<body>

    <h1>Plastic Type is Other  </h1>
    <h2>
        Could be a mixture of any and all of the above or plastics not readily recyclable such as polyurethane. Avoid it if you can – recyclers generally speaking don’t want it.        </h2>

</body>

</html>