<!DOCTYPE html>
<html>

<head>


  <meta charset="utf-8" />

</head>

<body>

    <h1>Plastic Type is PETE - Polyethylene </h1>
    <h2>
        PETE The easiest of plastics to recycle. Often used for soda bottles, water bottles and many common food packages. It can be recycled into bottles and polyester fibers.
    </h2>

</body>

</html>