<!DOCTYPE html>
<html>

<head>


  <meta charset="utf-8" />

</head>

<body>

    <h1>Plastic Type is PS – Polystyrene  </h1>
    <h2>
            Cups, foam food trays, packing peanuts. Polystyrene (also known as styrofoam) is a real problem as it’s bulky yet very lightweight and that makes it difficult to recycle. For example, a carload of expanded polystyrene would weigh next to nothing so there’s not a lot of materials to reclaim, particularly when you take into account the transport getting it to the point of recycling. It can however be reused. Learn more about recycling polystyrene.
        </h2>

</body>

</html>